{% extends 'base.html' %}

{% block title %}
    {{super()}}
    My Costumes
{% endblock %}

{% block content %}
    {{super()}}
    <main role="main">
        {# Here is what each costume listing should look like in HTML #}
        <article>
            {% for costume in costumes %}
                <h2>{{costume['header']}}</h2>
                <img class="costume" src='{{costume["image"]}}'>
                <p>{{costume['body']}}</p>
            {% endfor %}
        </article>
    </main>
{% endblock %}